body {
    background-image: url("http://www.edenluxurytravel.co.uk/Eden%20Collection%20Images/Country%20and%20Map%20%20Images/Maldives/Maldives%20Hero%20Image.tif?RenditionID=23");
    background-size: cover;
}

.special-card {
    /* create a custom class so you 
       do not run into specificity issues 
       against bootstraps styles
       which tends to work better than using !important 
       (future you will thank you later)*/
    
      background-color: rgba(245, 245, 245, 1);
      opacity: .6;
    }

.container {
    margin-top: 8%;
}

.card {
    padding: 10%;
    
}

.bottom-card {
    margin-top: 56%;
}

